<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.dao.SystemTaskMapper">
  <resultMap id="BaseResultMap" type="com.tao.pojo.db.SystemTask">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="bean" jdbcType="VARCHAR" property="bean" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="runtime" jdbcType="BIGINT" property="runtime" />
    <result column="task_explain" jdbcType="VARCHAR" property="taskExplain" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="timing" jdbcType="VARCHAR" property="timing" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="paramcount" jdbcType="SMALLINT" property="paramcount" />
    <result column="retry" jdbcType="SMALLINT" property="retry" />
    <result column="runstatus" jdbcType="SMALLINT" property="runstatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, author, bean, method, runtime, task_explain, status, timing, params, paramcount, 
    retry, runstatus
  </sql>
  <select id="selectByExample" parameterType="com.tao.pojo.db.SystemTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from system_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tao.pojo.db.SystemTaskExample">
    delete from system_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tao.pojo.db.SystemTask">
    insert into system_task (id, title, author, 
      bean, method, runtime, 
      task_explain, status, timing, 
      params, paramcount, retry, 
      runstatus)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{bean,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{runtime,jdbcType=BIGINT}, 
      #{taskExplain,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{timing,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{paramcount,jdbcType=SMALLINT}, #{retry,jdbcType=SMALLINT}, 
      #{runstatus,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tao.pojo.db.SystemTask">
    insert into system_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="bean != null">
        bean,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="runtime != null">
        runtime,
      </if>
      <if test="taskExplain != null">
        task_explain,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="timing != null">
        timing,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="paramcount != null">
        paramcount,
      </if>
      <if test="retry != null">
        retry,
      </if>
      <if test="runstatus != null">
        runstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="bean != null">
        #{bean,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="runtime != null">
        #{runtime,jdbcType=BIGINT},
      </if>
      <if test="taskExplain != null">
        #{taskExplain,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="timing != null">
        #{timing,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="paramcount != null">
        #{paramcount,jdbcType=SMALLINT},
      </if>
      <if test="retry != null">
        #{retry,jdbcType=SMALLINT},
      </if>
      <if test="runstatus != null">
        #{runstatus,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tao.pojo.db.SystemTaskExample" resultType="java.lang.Long">
    select count(*) from system_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update system_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.bean != null">
        bean = #{record.bean,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null">
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.runtime != null">
        runtime = #{record.runtime,jdbcType=BIGINT},
      </if>
      <if test="record.taskExplain != null">
        task_explain = #{record.taskExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.timing != null">
        timing = #{record.timing,jdbcType=VARCHAR},
      </if>
      <if test="record.params != null">
        params = #{record.params,jdbcType=VARCHAR},
      </if>
      <if test="record.paramcount != null">
        paramcount = #{record.paramcount,jdbcType=SMALLINT},
      </if>
      <if test="record.retry != null">
        retry = #{record.retry,jdbcType=SMALLINT},
      </if>
      <if test="record.runstatus != null">
        runstatus = #{record.runstatus,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update system_task
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      bean = #{record.bean,jdbcType=VARCHAR},
      method = #{record.method,jdbcType=VARCHAR},
      runtime = #{record.runtime,jdbcType=BIGINT},
      task_explain = #{record.taskExplain,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=SMALLINT},
      timing = #{record.timing,jdbcType=VARCHAR},
      params = #{record.params,jdbcType=VARCHAR},
      paramcount = #{record.paramcount,jdbcType=SMALLINT},
      retry = #{record.retry,jdbcType=SMALLINT},
      runstatus = #{record.runstatus,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tao.pojo.db.SystemTask">
    update system_task
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="bean != null">
        bean = #{bean,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="runtime != null">
        runtime = #{runtime,jdbcType=BIGINT},
      </if>
      <if test="taskExplain != null">
        task_explain = #{taskExplain,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="timing != null">
        timing = #{timing,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="paramcount != null">
        paramcount = #{paramcount,jdbcType=SMALLINT},
      </if>
      <if test="retry != null">
        retry = #{retry,jdbcType=SMALLINT},
      </if>
      <if test="runstatus != null">
        runstatus = #{runstatus,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tao.pojo.db.SystemTask">
    update system_task
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      bean = #{bean,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      runtime = #{runtime,jdbcType=BIGINT},
      task_explain = #{taskExplain,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      timing = #{timing,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      paramcount = #{paramcount,jdbcType=SMALLINT},
      retry = #{retry,jdbcType=SMALLINT},
      runstatus = #{runstatus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>